@inject IHttpContextAccessor Accessor;
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Trainee.cshtml";
}

<center>

<div class="text-center">
   <div class="alert alert-success alert-dismissible">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>@Accessor.HttpContext.Session.GetString("EmailID").ToString()!</strong> Welcome
</div>
</div>
<div class="row" style="margin-top:5%;">
        <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:300px"><img src="~/images/q&a.jfif" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Upload your perfomance</h5><span class="small text-uppercase text-muted">Answer upload</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="Trainees" asp-action="ViewAssessment">View all assessment</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:300px"><img src="~/images/scores.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Scores</h5><span class="small text-uppercase text-muted">Your Performance</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="Trainees" asp-action="ViewAssessmentScores">Your scores</a></li>
                </ul>
            </div>
        </div>
        
       

        </div>
        </center>