
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>DashBoard</h1>

<a class="btn btn-primary" asp-area="" asp-controller="HRS" asp-action="Create">Add HR</a>

<a class="btn btn-primary" asp-area="" asp-controller="TrainerManagers" asp-action="Create">Add Trainer Manager</a>

<a class="btn btn-primary" asp-area="" asp-controller="Trainees" asp-action="Create">Add Trainee</a>


