@{
    ViewData["Title"] = "Home Page";
}


<div my-container">
    <h1 class="display-4">Welcome to TMS Portal</h1>
    </div>
    <center>
<div  class="row" style="margin-top:5%">
        <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:320px"><img src="~/images/admin.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Kumaran System Admin</h5><span class="small text-uppercase text-muted">Admin</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="admins" asp-action="login">Admin login</a></a></li>

                </ul>
            </div>
            </div>
               <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:320px"><img src="~/images/hr.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Kumaran System HRs</h5><span class="small text-uppercase text-muted">HR</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="hrs" asp-action="login">HR login</a></a></li>

                </ul>
            </div>
            </div>
               <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:320px"><img src="~/images/tm01.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0"> Trainer Manager</h5><span class="small text-uppercase text-muted">Trainer manager</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="trainermanagers" asp-action="login">Trainer Manager login</a></a></li>

                </ul>
            </div>
            </div>
               <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:320px"><img src="~/images/tr.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Kumaran System Trainers</h5><span class="small text-uppercase text-muted">Trainers</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="trainers" asp-action="login">Trainer login</a></a></li>

                </ul>
            </div>
            </div>
            </div>
            <div class="row" style="align-items:center">
                     <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:320px"><img src="~/images/trainee.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Kumaran System Trainees</h5><span class="small text-uppercase text-muted">Trainees</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="trainees" asp-action="login">Trainees login</a></a></li>

                </ul>
            </div>
            </div>
     
            </div>

            </center>