/* _content/TMSClient/Views/Shared/_Admin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-23nlr89it8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-23nlr89it8] {
  color: #0077cc;
}

.btn-primary[b-23nlr89it8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-23nlr89it8], .nav-pills .show > .nav-link[b-23nlr89it8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-23nlr89it8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-23nlr89it8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-23nlr89it8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-23nlr89it8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-23nlr89it8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TMSClient/Views/Shared/_Hr.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-dc8hdcf6tr] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-dc8hdcf6tr] {
  color: #0077cc;
}

.btn-primary[b-dc8hdcf6tr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dc8hdcf6tr], .nav-pills .show > .nav-link[b-dc8hdcf6tr] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-dc8hdcf6tr] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-dc8hdcf6tr] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dc8hdcf6tr] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dc8hdcf6tr] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-dc8hdcf6tr] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TMSClient/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-6dvbf1e30r] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6dvbf1e30r] {
  color: #0077cc;
}

.btn-primary[b-6dvbf1e30r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6dvbf1e30r], .nav-pills .show > .nav-link[b-6dvbf1e30r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6dvbf1e30r] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6dvbf1e30r] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6dvbf1e30r] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-6dvbf1e30r] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6dvbf1e30r] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TMSClient/Views/Shared/_Trainee.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8aex5aoeub] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8aex5aoeub] {
  color: #0077cc;
}

.btn-primary[b-8aex5aoeub] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8aex5aoeub], .nav-pills .show > .nav-link[b-8aex5aoeub] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8aex5aoeub] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8aex5aoeub] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8aex5aoeub] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8aex5aoeub] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8aex5aoeub] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TMSClient/Views/Shared/_Trainer.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-2k2zfjd20i] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-2k2zfjd20i] {
  color: #0077cc;
}

.btn-primary[b-2k2zfjd20i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2k2zfjd20i], .nav-pills .show > .nav-link[b-2k2zfjd20i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-2k2zfjd20i] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2k2zfjd20i] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2k2zfjd20i] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2k2zfjd20i] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2k2zfjd20i] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TMSClient/Views/Shared/_TrainerManager.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0zu2audp3t] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0zu2audp3t] {
  color: #0077cc;
}

.btn-primary[b-0zu2audp3t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0zu2audp3t], .nav-pills .show > .nav-link[b-0zu2audp3t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0zu2audp3t] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0zu2audp3t] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0zu2audp3t] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0zu2audp3t] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0zu2audp3t] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
