@inject IHttpContextAccessor Accessor;
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Trainer.cshtml";
}

<div class="text-center">
   <div class="alert alert-success alert-dismissible">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>@Accessor.HttpContext.Session.GetString("EmailID").ToString()!</strong> Welcome
</div>
</div>

<center>
<div class="row" style="margin-top:5%">
     <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-3" style="height:300px"><img src="~/images/assessment02.png" alt="" width="100" height="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Assessment</h5><span class="small text-uppercase text-muted">Assessment for Trainee's</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="Trainers" asp-action="ViewAssessmentWithName">View Assessment</a></li>
                   
                </ul>
            </div>
        </div>

        <div class="col-xl-3 col-sm-4 mb-5">
            <div class="bg-white rounded shadow-sm py-5  px-3" style="height:300px"><img src="~/images/trainee.jpg" alt="" width="100"  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Trainees</h5><span class="small text-uppercase text-muted">Interns</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li style="margin-top:2%" class="list-inline-item"><a class="btn btn-primary btn-block" asp-area="" asp-controller="Trainers" asp-action="ViewYourTrainees">View your Trainees</a></li>
                </ul>
            </div>
        </div>
    </div>
    </center>